*{box-sizing: border-box;}
html, body {height: auto;}
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.flex-container {
	background: #fafafa;
	border: 1px solid #595959;
	min-height: 300px;
	margin: 50px auto;
	max-width: 1000px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: column;
}
.flex-item {
	background-color: #ccc;
	min-height: 60px;
	margin: 5px 0;
	flex-grow: 0;
	/* flex-basis: 250px; */
/* 	width: 250px;
	height: 400px; */
}
.flex-item.container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
/* 	flex-direction: row;
	flex-wrap: wrap; */
}
.inner-item {
	background: #f00;
	flex: 0 0 50px;
	margin: 5px;
}

.flex-container.flex1 {
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-container.flex1 .flex-item {
	flex-grow: 1;
	flex-basis: 350px;
	margin: 5px;
}
.flex-container.flex1 .flex-item:nth-child(2) {
	flex-grow: 2;
	order: -1;
}
.work_1, .work_2, .work_3 {
	background: #fafafa;
	border: 1px solid #595959;
	min-height: 300px;
	margin: 50px auto;
	max-width: 1000px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
}
.work_1 .flex-item {
	width: 20%;
}
.work_2 {
	justify-content: center;
	flex-direction: column;
}
.work_3 .flex-item:nth-child(1) {
	width: 20%;
	height: 20%;
	align-self: flex-end;;
}
.work_3 .flex-item:nth-child(2) {
	width: 20%;
	height: 20%;
	align-self: flex-start;
}
.work_3 .flex-item:nth-child(3) {
	width: 20%;
	height: 20%;
	align-self: center;
}

.flex-list{
	max-width: 1000px;
	margin: 0 auto 50px;
	display: flex;
	background-color: #fff;
	border: 1px solid #595959;
	flex-wrap: wrap;
}
.flex-list li
{
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.15);
	border: 1px solid #e5e5e5;
	margin: 0 22px 22px 0;
	padding: 20px 25px;
	width: 250px;
	text-align: center;
}
.flex-list .button {
	background: #f58713;
	width: 70px;
	height: 30px;
	color: #fff;
	vertical-align: bottom;
}

































